<h1>Submit new message</h1>
<form method="POST" action="/new">
    <label for="name">
        Name
    </label>
    <input name="name" type="text">
    <br>
    <br>
    <label for="message">
        Message
    </label>
    <textarea name="message" cols="30" rows="6"></textarea>
    <br>
    <br>
    <button type="submit">Submit</button>
</form>